<h2>item list</h2>

<ul>
	<% @items.each do |item| %>
		<form action="/items/<%= item.id %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<li><%= item.title %></li>
			<button>delete this</button>
		</form>
	<% end %>
</ul>