<form>
	<input id="new-item" type="text" name="title" placeholder="enter new item"> 
	<button id="add-item">add item</button>
</form>

<ul id="items">





</ul>





<script type="text/javascript" src="/js/itemCrud.js"></script>