<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav>
		<p>
			Nav: 
			<a href="/items">items index</a>
			<a href="/items/add">add item</a>
		</p>
	</nav>

	<h1>this is a to-do app</h1>
	<% if session[:message] %>
		<p class="msg">
			<%= session[:message] %>
		</p>
		<% session[:mesage] = nil %>
	<% end %>
	<%= yield %>

</body>
</html>