<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
</head>
<body>
	<nav>
		<div>
		<% if !session[:logged_in] %>	
			<a href="/user/login">log in</a>
			<a href="/user/register">register</a>
		<% else %>
			<p>
				you are now logged in as <%= session[:username] %>
				<a href="/user/logout">log off</a>
			</p>
		<% end %>
		</div>
	</nav>

	<h1>this is a to-do app</h1>
	<% if session[:message] %>
		<p class="msg">
			<%= session[:message] %>
		</p>
		<% session[:mesage] = nil %>
	<% end %>
	<%= yield %>

</body>
</html>