<h2>log in</h2>

<form action="/user/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>reg</button>
</form>

<h3>need an account? sign up <a href="/user/register">here!</a></h3>